---
import servicesData from "@/data/services";
import testimonialsData from "@/data/testimonials";
import toursData from "@/data/tours";

import MainLayout from "@/layouts/MainLayout.astro";
import Card from "@/components/partial/Card.astro";
import TestimonialsCard from "@/components/TestimonialsCard.astro";
import Section from "@/components/Section.astro";
import List from "@/components/partial/List.astro";
import Hero from "@/components/Hero.astro";
import ListItem from "@/components/partial/ListItem.astro";
import Grid from "@/components/Grid.astro";
import Divider from "@/components/partial/Divider.astro";
import ServiceCard from "@/components/ServiceCard.astro";
---

<MainLayout>
  <Hero
    subtitle="Eastern Kingdoms"
    title="Vashj'ir"
    imageSrc="/images/tour/vashjir.webp"
    text="Underwater region located near the Eastern Kingdoms, off the western coast of Khaz Modan."
  />

  <Section title="History" split>
    <Fragment slot="end">
      <Card variant="default">
        <img src="/images/tour/vashjir-history.webp" alt="vashjir landscape" />
      </Card>
    </Fragment>
    <p>
      Once a great Highborne city housing some of the most revered night elves
      of Kalimdor, Vashj'ir was swallowed by the Great Sea in the Sundering and
      thought to be lost forever. Queen Azshara, formerly a beloved leader of
      the Highborne, escaped death in the depths of the sea when the Well of
      Eternity imploded.
    </p>
    <p>
      Such salvation came at a great cost, as the queen and many of her fellow
      Highborne were forever transformed into the monstrous naga, doomed to
      wander the seas for thousands of years.
    </p>
    <p>
      Their existence mostly remains a mystery to the peoples of modern Azeroth,
      though the Earthen Ring has learned of Azshara's naga seizing Vashj'ir for
      an unknown purpose as the cries of the elements echo across Azeroth from
      the Abyss.
    </p>
  </Section>

  <Section split title="Location">
    <Fragment slot="start">
      <Card variant="default">
        <img src="/images/map/vashjir.webp" alt="Map of Vashj'ir" />
      </Card>
    </Fragment>

    <p>
      Vashj'ir (pronounced /vɒʒɪər/) is an underwater region located near the
      Eastern Kingdoms, off the western coast of Khaz Modan. The ruins of the
      city located in the Shimmering Expanse were the home of Lady Vashj before
      the Great Sundering.
    </p>

    <p>
      Players can swim throughout the zone by jumping but when on the ground it
      acts similar to the terrestrial zones and players can use special
      underwater mounts to move around it. In the Abyssal Depths is located the
      Abyssal Breach that allows you to reach the Abyssal Maw, which contains
      two 5-man events.
    </p>
  </Section>

  <Divider />

  <Section
    centered
    title="Zones"
    subtitle="You ever need anything, you know where to find me."
  >
    <List>
      <ListItem
        name="Kelp'thar Forest"
        text="The forest features a vast array of aquatic life and plants. The most noticeable feature of the Kelp'thar Forest is found along the southern edge of the zone in what is known as the Lightless Reaches."
      />
      <ListItem
        name="Shimmering Expanse"
        text="It is the stronghold of the naga empire within the area. Besides the wide variety of plant and marine life there are also many mysterious wonders such as Nespirah. This zone is home to the ancient Ruins of Vashj'ir. Travellers will learn about the ruins, and what befell them, as well as interesting factoids about Queen Azshara and Lady Vashj's mother."
      />
      <ListItem
        name="Abyssal Depths"
        text="The Depths are home to the ancient god L'ghorek, who is connected to something immense beneath the seafloor. The Twilight's Hammer cult saps life energy from this gigantic being to create ascendants for the coming war against Neptulon for control of the seas. Also within the depths is the Abyssal Breach, the entrance into the Abyssal Maw itself, where more unknown horrors await."
      />
    </List>
  </Section>

  

  <Section
    centered
    title="Sights"
    subtitle="Have you seen the sights..?"
  >
  <List>
    <ListItem
      name="Vaesska"
      text="The Vaesska is a sunken ship in Vashj'ir. Zithreenai naga were encountered there by champions of the Valarjar. It transported powerful armaments."
    />
    <ListItem
      name="Edgar Fish 'N' Sea"
      text="Edgar Fish 'N' Sea is the submarine of Bo Bobble and Max Megablast. They use it to dive around Vashj'ir in order to study the bioluminescent life living in the depths."
    />
  </List>
  </Section>

  <Divider />

  <Section
    centered
    title="See What Our Clients Say About Us"
    subtitle="Greetings, traveler"
  >
    <Grid hasBorderedCards>
      {
        testimonialsData.slice(2, 5).map((testimonials) => (
          <Card variant="default">
            <TestimonialsCard
              image={testimonials.image}
              name={testimonials.name}
              job={testimonials.job}
              text={testimonials.text}
            />
          </Card>
        ))
      }
    </Grid>
  </Section>
</MainLayout>
