---

---

<div class="divider">

</div>

<style lang="scss">
  .divider {
    height: 64px;
    background-image: url('/images/borders/divider.webp');
    background-position: center;
    background-repeat: no-repeat;
  }
</style>