:root {
  --fz-section-header: min(3.75rem, 10cqw);
  --fz-section-subheader: 1.25rem;
  --fz-body: 1.25rem;
  --fz-caption: 1.125rem;
  --color-rarity-common: rgb(255, 255, 255);
  --color-rarity-uncommon: rgb(30, 255, 0);
  --color-rarity-rare: rgb(0, 112, 221);
  --color-rarity-epic: rgb(163, 53, 238);
  --color-rarity-legendary: rgb(255, 128, 0);
  --color-text-accent: hsl(44, 100%, 49%);
  --color-text-primary: hsl(41, 51%, 84%);
  --color-text-secondary: hsla(0, 0%, 100%, 0.7);
  --color-text-tretiary: hsla(0, 0%, 100%, 0.5);
  --color-text-white: hsl(0, 0%, 100%);
  --color-bg-surface-0: hsl(90, 29%, 8%);
  --color-bg-surface-1: hsl(18, 35%, 10%);
  --color-bg-surface-2: ;
  --color-border: hsl(24, 19%, 26%);
  --color-line: hsla(0, 0%, 100%, 0.125);
  --color-button-primary-bg: hsl(3, 100%, 25%);
}
